NEXT_PUBLIC_LEADERBOARD_API=https://script.google.com/macros/s/AKfycbxJHD0DvD4op2Yft8uSZcrjxAfftjHMP5OoUL1z76ej1pNQu3ViDaT8epyQW1g4Hrtl/exec
GOOGLE_SPREADSHEETS_LINK=https://docs.google.com/spreadsheets/d/1FOKuSfG1qz69n2sWKHjNy7nFxlWR_kyK612jm7APJfQ/edit?usp=sharing